.booksUl {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(245px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  justify-items: center;
  /* align-items: stretch; */
}

.bookLi {
  /* height: 500px; */
}

@media (max-width: 1139px) {
  .booksUl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .booksUl {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .booksUl {
    grid-template-columns: 1fr;
  }
}
